:root {
    --white: #f5f5f5;
    --gray: #b4b4b4;
    --gray-darker: #4b4b4b;
    --dark-gray: #576975;
    --dark-gray-2: #688293;
    --brown: #737373;
    --h2: 24px;
    --p: 16px;
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clear {
    clear: both;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

header {
    padding: 20px 2%;
}

.logo a img {
    float: left;
    width: 226px;
}

header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    padding: 0 20px;
    float: left;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav.menu-mobile {
    display: none;
    float: right;
    width: 28px;
    height: 28px;
    background-image: url(../img/menu-mobile.png);
    background-size: 100% 100%;
    cursor: pointer;
}

nav.menu-mobile ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
    background-color: var(--white);
    z-index: 999;
}

nav.menu-mobile ul li{
    padding: 10px 0;
    text-transform: uppercase;
}

header ul a {
    font-weight: 500;
    color: var(--gray);
    text-decoration: none;
}

/* ** */

/* Mosaico */

.mosaico-single {
    float: left;
    width: calc(100% / 6);
}

.img-mosaico-single {
    width: 100%;
    padding-top: 100%;
    background-color: var(--gray);
    border: 5px solid var(--white);
}

.img-1 {
    background-image: url(../img/mosaico/dentista-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-2 {
    background-image: url(../img/mosaico/dentista-2.jpg);
    background-size: 100% 100%;
}

.img-3 {
    background-image: url(../img/mosaico/dentista-3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-4 {
    background-image: url(../img/mosaico/dentista-4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-5 {
    background-image: url(../img/mosaico/dentista-5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-6 {
    background-image: url(../img/mosaico/dentista-6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-7 {
    background-image: url(../img/mosaico/dentista-7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-8 {
    background-image: url(../img/mosaico/dentista-8.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-9 {
    background-image: url(../img/mosaico/dentista-9.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-10 {
    background-image: url(../img/mosaico/dentista-10.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-11 {
    background-image: url(../img/mosaico/dentista-11.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img-12 {
    background-image: url(../img/mosaico/dentista-12.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/**/

/* Seção Serviços */

section.servicos>.container {
    max-width: 800px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    top: -60px;
    color: var(--white);
}

section.servicos>.container .box-servicos {
    background-image: url(../img/icone_dente.png);
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}

section.servicos>.container .box-servicos h2 {
    font-weight: normal;
    font-size: var(--h2);
    text-transform: uppercase;
}

section.servicos>.container .box-servicos p {
    font-weight: normal;
    font-size: var(--p);
    margin-top: 8px;
}

section.servicos>.container .box-servicos:nth-of-type(1) {
    width: 30%;
    padding: 40px 2%;
    background-color: var(--dark-gray);
}

section.servicos>.container .box-servicos:nth-of-type(2) {
    width: 40%;
    padding: 80px 2%;
    background-color: var(--dark-gray-2);
    background-image: none;
}

section.servicos>.container .box-servicos:nth-of-type(3) {
    width: 30%;
    padding: 40px 2%;
    background-color: var(--dark-gray);
}

/* Perfil */

section.perfil-container {
    padding: 40px 0;
}

section.perfil-container .container {
    max-width: 800px;
}

section.perfil-container .perfil-wraper {
    padding-top: 60%;
    position: relative;
}

section.perfil-container .perfil-wraper2 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.perfil-container .img-perfil {
    width: 40%;
    height: 100%;
    background-image: url(../img/perfil.jpg);
    background-size: 100% 100%;
}

section.perfil-container .texto-perfil {
    width: 60%;
    padding: 0 30px;
}

section.perfil-container .texto-perfil h2 {
    font-size: var(--h2);
    color: var(--dark-gray-2);
}

section.perfil-container .texto-perfil p {
    color: var(--gray-darker);
    font-size: var(--p);
    margin-top: 8px;
}

/****/

/* Seção de Vídeos*/

section.videos{
    padding: 50px 0;
}

section.videos .box-video{
    position: relative;
    float: left;
    width: 33.3%;
    border: 5px solid white;
    padding-top: calc(33.3% * 0.6);   
}

section.videos iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/****/

/* Seção Tratamentos */
section.tratamentos > h2{
    text-align: center;
    color: var(--dark-gray-2);
    font-size: var(--h2);
    padding: 70px 0;
}

section.tratamentos .tratamento-container{
    float: left;
    width: 33.3%;    
} 

.tratamento-single{
    padding: 20px;
}

.tratamento-single h2{
    font-size: var(--h2);
    color: var(--brown);
    font-weight: normal;
}

.tratamento-single p{
    padding: 15px 0;
    font-size: var(--p);
    color: var(--gray);
}

/****/

/* Media Queries */

@media screen and (max-width: 768px) {

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;        
    }


    section.servicos>.container {
        flex-direction: column;
    }

    section.servicos>.container .box-servicos:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(2) {
        width: 94%;
        max-width: 380px;
        padding: 40px 2%;
    }

    section.servicos>.container .box-servicos:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
    }

    section.perfil-container .perfil-wraper{
        padding-top: 0;
    }

    section.perfil-container .perfil-wraper2 {
        height: auto;
        position: static;
        display: inline-block;
        text-align: center;
    }

    section.perfil-container .img-perfil {
        display: inline-block;
        width: 50%;
        height: auto;
        padding-top: 70%;

    }

    section.perfil-container .texto-perfil {
        display: inline-block;
        width: 100%;

    }

    section.perfil-container .texto-perfil p {
        text-align: justify;
    }

    section.videos{
        text-align: center;
    }

    section.videos .box-video{
        display: inline-block;
        float: none;
        width: 70%;
        padding: calc(70% * 0.6);
    }    

}

@media screen and (max-width: 580px) {
    section.perfil-container .img-perfil {
        width: 80%;
        padding-top: 110%;
    }

    section.videos .box-video{       
        width: 100%;
        padding: calc(100% * 0.3);
    } 
}

@media sreen and (max-width: 480px) {
    .logo a img {
        width: 200px;
    }
}